<div class="first-tasks-container">
  <ul>
    <li class="first-task">
      <div class="row">
        <div class="col-2 col-lg-2"
              style="padding-right: 8%; width: 12%;">
          <div class="avatar-container avatar-container-72">
            <img class="avatar-72"
                 src= "<%= voyage.sailor().escape('image_url') %>">
          </div>
        </div>
        <div class="col-6 col-lg-6" style="width: 54%">
          <h3 class="sailor-name-link">
            <%= voyage.sailor().escape('name') %>
          </h3>
          <p class="date-text">Start date: <%= voyage.escape('start_date') %></p>
          <p class="date-text">Return date: <%= voyage.escape('end_date') %></p>
          <br>
          <p class="voyage-description"><%= voyage.escape('task_description') %></p>
        </div>
        <div class="col-4 col-lg-4 righty">
          <a class="btn btn-primary btn-find voyage-complete-btn"
            href="#signup">
            <span>
              Voyage complete
            </span>
          </a>
        </div>
        <div class="col-4 col-lg-4 righty"
              style="float: right">
          <a class="btn btn-secondary btn-find cancel-voyage">
            Cancel voyage
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
